.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.container > *:not(:last-child) {
	margin-right: 15px;
}

.pickerItem {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	border: 2px solid var(--color-white);
	font-size: 29px;
	line-height: 100%;
}

.pickerItem:hover {
	cursor: pointer;
	opacity: 0.8;
}

.pickerItem.selected {
	border-color: var(--color-primary-medium);
}
