.PictureContainer {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	width: 250;
	height: 100;
	margin: 0;
}
/* .home {
background-color: #2E4253;
} */

.font {
	color: black;
}
.pageTitle {
	color: var(--color-grey-ultra-dark);
}
.cardBorder {
	border-color: green;
}

/*.StatCon {
background-color: #61798D;
}*/
