.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.voteButtonContainer {
	display: inline-flex;
	flex-direction: row;
	align-items: flex-start;
}
