.container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}
.voteButtonContainer {
	display: inline-flex;
	flex-direction: row;
	align-items: flex-start;
}
.formTitle {
	color: var(--color-grey-ultra-dark);
}
